<?xml version="1.0" encoding="UTF-8"?>
<!--加入了新的命名空间: context-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		https://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:application.properties"/>
    <bean id="sweetApple" class="com.imooc.spring.ioc.entity.Apple">
        <property name="tittle" value="红富士"/>
        <property name="color" value="红色"/>
        <property name="original" value="欧洲"/>
    </bean>
</beans>