<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- <bean id="sweetApple" class="com.imooc.spring.ioc.entity.Apple">
         &lt;!&ndash;        这是依赖注入的setter方式,静态数值,字符串常量对象也是IoC容器创建的&ndash;&gt;
         <property name="tittle" value="红富士"/>
     </bean>-->
    <!-- <bean id="lily" class="com.imooc.spring.ioc.entity.Child">
         &lt;!&ndash;        这是依赖注入的setter方式, 自定义Bean对象&ndash;&gt;
         <property name="apple" ref="sweetApple"/>
     </bean>-->
    <!--  <bean id="andy" class="com.imooc.spring.ioc.entity.Child">
          <constructor-arg name="name" value="安迪"/>
          <constructor-arg name="apple" ref="sweetApple"/>
      </bean>-->
    <bean class="com.imooc.spring.ioc.entity.Apple">
        <property name="tittle" value="红富士"/>
    </bean>
    <bean class="com.imooc.spring.ioc.entity.Apple"/>
    <bean class="com.imooc.spring.ioc.entity.Apple"/>

</beans>