<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
	<body>
		<div id="app">
			<label>名: </label><input type="text" v-model="firstName" />
			<label>姓: </label><input type="text" v-model="lastName" />
			{{fullName}}
		</div>
	</body>
	<script>
		// 创建Vue实例
		VM = new Vue({
			el: "#app",
			data: {
				firstName: "",
				lastName: "",
				fullName: ""
			},
			watch: {
				firstName: function(nval, oval) {
					if (this.lastName != "") {
						this.fullName = nval + "\u2022" + this.lastName
					}
				},
				lastName: function(nval, oval) {
					this.fullName = this.firstName + "\u2022" + nval
				}
			}
		})
	</script>
</html>