<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--    在IoC容器启动的时候，自动由Spring实例化Apple对象，取名SweetApple放入容器中-->

    <!--如果里面不写constructor-arg，默认构造方法-->
    <!-- <bean id="apple1" class="com.imooc.spring.ioc.entity.Apple">
         &lt;!&ndash;        property走set方法&ndash;&gt;
         <property name="tittle" value="红富士"/>
     </bean>
     <bean id="apple2" class="com.imooc.spring.ioc.entity.Apple">
         <constructor-arg name="color" value="red"/>
         <constructor-arg name="tittle" value="红富士"/>
         <constructor-arg name="original" value="欧洲"/>
     </bean>

     <bean id="apple3" class="com.imooc.spring.ioc.entity.Apple">
         <constructor-arg index="0" value="red"/>
         <constructor-arg index="1" value="红富士"/>
         <constructor-arg index="2" value="欧洲"/>
     </bean>

     <bean id="apple4" class="com.imooc.spring.ioc.entity.Apple">
         <constructor-arg index="0" value="red"/>
         <constructor-arg index="1" value="红富士"/>
     </bean>

     <bean id="apple5" class="com.imooc.spring.ioc.entity.Apple">
         <constructor-arg index="0" value="红富士"/>
         <constructor-arg index="1" value="1" type="java.lang.Integer"/>
     </bean>
     <bean id="apple6" class="com.imooc.spring.ioc.entity.Apple">
         <constructor-arg name="i" value="1" />
         <constructor-arg name="tittle" value="da"/>
     </bean>-->
<!--    &lt;!&ndash;    利用静态工厂创建对象&ndash;&gt;-->
<!--    <bean id="apple7"-->
<!--          class="com.imooc.spring.ioc.factory.AppleStaticFactory"-->
<!--          factory-method="createSweetApple"-->
<!--    />-->
<!--    &lt;!&ndash;    工厂实例创建对象&ndash;&gt;-->
<!--    &lt;!&ndash;    1、首先IoC容器需要创建工厂实例对象&ndash;&gt;-->
<!--    <bean id="factory"-->
<!--          class="com.imooc.spring.ioc.factory.AppleInstanceFactory"-->
<!--    />-->
<!--    &lt;!&ndash;    2、利用factory Bean 创建Apple对象&ndash;&gt;-->
<!--    <bean id="apple8"-->
<!--          factory-bean="factory"-->
<!--          factory-method="createSweetApple"-->
<!--    />-->
<!--    <bean id="apple9" class="com.imooc.spring.ioc.entity.Apple"/>-->
<!--    <bean name="apple9" class="com.imooc.spring.ioc.entity.Apple"/>-->
    <bean name="apple10" class="com.imooc.spring.ioc.entity.Apple">
        <property name="tittle" value="红"/>
    </bean>
</beans>