<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.immoc.mall.dao.CategoryMapper">
    <sql id="Base_Column_List">
        id
        ,parent_id,name,status,sort_order,create_time,update_time
    </sql>
    <!--namespace: 该xml文件对应哪个类-->
    <select id="queryById" resultType="com.immoc.mall.pojo.Category" parameterType="int">
        select
        <include refid="Base_Column_List"/>
        from mall_category
        where id = #{id}
    </select>

    <resultMap id="resultCategoryVo" type="com.immoc.mall.vo.CategoryVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="sort_order" property="sortOrder" jdbcType="INTEGER"/>
        <collection property="subCategories" ofType="com.immoc.mall.vo.CategoryVo"
                    column="id" select="queryChildrenCategory"/>
    </resultMap>

    <resultMap id="resultCategoryIdVo" type="com.immoc.mall.vo.CategoryIdVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <collection property="subIds" ofType="com.immoc.mall.vo.CategoryIdVo"
                    column="id" select="queryAllCategoryId"/>
    </resultMap>

    <select id="queryAllCategory" resultMap="resultCategoryVo" parameterType="int">
        select
        <include refid="Base_Column_List"/>
        from mall_category
        where parent_id = #{parent_id}
    </select>

    <select id="queryChildrenCategory" resultMap="resultCategoryVo" parameterType="int">
        select
        <include refid="Base_Column_List"/>
        from mall_category
        where parent_id = #{parent_id}
    </select>

    <select id="queryAllCategoryId" resultMap="resultCategoryIdVo" parameterType="int">
        select id
        from mall_category
        where parent_id = #{parent_id}
    </select>
</mapper>