<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--    在IoC容器启动的时候，自动由Spring实例化Apple对象，取名SweetApple放入容器中-->
    <bean id="sweetApple" class="com.imooc.spring.ioc.entity.Apple">
        <!--        对对象的属性进行设置-->
        <property name="color" value="红色"/>
        <property name="tittle" value="红富士"/>
        <property name="original" value="欧洲"/>
    </bean>

    <bean id="sourApple" class="com.imooc.spring.ioc.entity.Apple">
        <!--        对对象的属性进行设置-->
        <property name="color" value="绿色"/>
        <property name="tittle" value="青苹果"/>
        <property name="original" value="中亚"/>
    </bean>

    <bean id="softApple" class="com.imooc.spring.ioc.entity.Apple">
        <!--        对对象的属性进行设置-->
        <property name="color" value="黄色"/>
        <property name="tittle" value="金帅"/>
        <property name="original" value="中国"/>
    </bean>

    <bean id="lily" class="com.imooc.spring.ioc.entity.Child">
        <property name="name" value="莉莉"/>
        <property name="apple" ref="sweetApple"/>
    </bean>

    <bean id="andy" class="com.imooc.spring.ioc.entity.Child">
        <property name="name" value="安迪"/>
        <property name="apple" ref="sourApple"/>
    </bean>

    <bean id="luna" class="com.imooc.spring.ioc.entity.Child">
        <property name="name" value="露娜"/>
        <property name="apple" ref="softApple"/>
    </bean>

</beans>